# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\HocLapTrinh\Module_4\Week_2\SpringDataRepository\TH-UngDungQuanLyKhachHang-TinhThanh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
